body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../images/background.jpg");
  background-size: 100vw, cover;
  background-position: top, left;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-size: 100%;
  background-position: bottom;
  color: white;
}

.title-box {
  float: left;
  padding: .25em 0em .25em 2em;
  height: 2.2em;
}
  

.title {
  position: relative;
  font-size: 3em;
  color: white;
}

.rightSide {
  position: absolute;
  left: 20vw;
  float: left;
  width: 80vw;
}

.menu-box {
  position: absolute;
  width: 100%;
  top: 0;
}

.menu {
  background-color: white;
  position: relative;
  height: 2.15em;
  color: black;
  font-size: 150%;
}

.menu-element {
  display: block;
  vertical-align: middle;
  padding: .5em .4em;
  float: left;
}

#menu-first {
  padding-left: 1.2em;
}

.menu-link {
  background-color: white;
}

.menu-element:hover {
  color: white;
  background-image: url("../images/background.jpg");
  background-size: 100vw, cover;
  background-attachment: fixed;
}

#menu-current-text {
  -webkit-background-clip: text;
  background-image: url("../images/background-dark.jpeg");
  background-size: 100vw;
  background-position: top, left;
}

#menu-current {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url("../images/background-dark.jpeg");
  background-size: 100vw, cover;
  background-position: top, left;
}

.content {
  width: 58vw;
  margin-top: 4.5em;
  margin-bottom: 1em;
  padding: 1vw;
  background-color: white;
  border-radius: .2em;
  font-size: 1.5em;
}

.project {
  padding: 1vh;
  font-size: .75em;
}

.copyright {
  position: fixed;
  width: 20em;
  left: 50%;
  margin-left: -10em;
  bottom: 0vh;
  border-radius: .5em .5em 0 0;
  text-align: center;
  font-size: .6em;
  background-color: white;
  color: black;
  z-index: -1;
}