body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../images/background.jpg");
  background-size: 100%, cover;
  background-position: top, center;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.title-box {
  position: absolute;
  float: left;
  padding: .25em 0em .25em 2em;
  height: 2.2em;
}
  

.title {
  font-size: 3em;
  color: white;
}

.rightSide {
  position: absolute;
  left: 20vw;
  float: left;
  width: 80vw;
}

.menu-box {
  background-color:white;
  position: absolute;
  float: left;
  width: 100%;
}

.menu {
  background-color: white;
  position: relative;
  height: 2.17em;
  top: 0;
  font-size: 150%;
}

.menu-element {
  padding: .5em .4em;
  float: left;
}

#menu-first {
  padding-left: 1.2em;
}

.menu-element:hover {
  color: white;
  background-image: url("../images/background.jpg");
  background-size: 100vw;
  background-attachment: fixed;
}

#menu-current-box {
  /* for future development */
}

#menu-current {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url("../images/background-dark.jpeg");
  background-size: 100vw;
  background-attachment: fixed;
}

.content {
  width: 58vw;
  margin-top: 4.5em;
  padding: 1vw;
  background-color: white;
  border-radius: .2em;
  font-size: 1.5em;
}

.project {
  padding: 1vh;
  font-size: .75em;
}

.copyright {
  position: fixed;
  bottom: 0vh;
  width: 60vw;
  text-align: center;
  font-size: .6em;
  color: white;
}