body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../images/background.jpg");
  background-size: 100%, cover;
  background-attachment: fixed;
}

a {
  text-decoration: inherit;
  color: inherit;
  height: 3.15em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.15em;
  width: 100%;
  color: white;
}

.title-box {
  float: left;
  height: 3.15em;
  width: 20vw;
}


.title {
  height: 3.15em;
  width: 20vw;
  position: fixed;
  text-align: center;
  font-size: 325%;
  top: 1.5725em;
  transform: translateY(-52%);
  color: white;
}

.rightSide {
  position: absolute;
  left: 20vw;
  float: left;
  width: 80vw;
}

.menu-box {
  position: absolute;
  width: 100%;
  top: 0;
}

.menu {
  background-color: white;
  position: relative;
  height: 2.15em;
  color: black;
  font-size: 150%;
  border-bottom-left-radius: .15em;
}

.menu-element {
  display: block;
  vertical-align: middle;
  padding: .5em .4em;
  float: left;
}

#menu-first {
  padding-left: 1.2em;
}

.menu-link {
  background-color: white;
}

.menu-element:hover {
  color: white;
  background-image: url("../images/background.jpg");
  background-size: 100%, cover;
  background-attachment: fixed;
}

#menu-current-text {
  color: black;
  // font-size: 110%;
}

#menu-current {
  display: block;
  vertical-align: middle;
  float: left;
  padding: .5em;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
             url("../images/background.jpg") repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-size: 100%;
  background-attachment: fixed;
}

.content {
  width: 58vw;
  margin-top: 4.5em;
  margin-bottom: 1em;
  padding: 1vw;
  background-color: white;
  border-radius: .2em;
  font-size: 1.5em;
}

.project {
  padding: 1vh;
  font-size: .75em;
}

.copyright {
  position: fixed;
  width: 20em;
  left: 50%;
  margin-left: -10em;
  bottom: 0vh;
  border-radius: .5em .5em 0 0;
  text-align: center;
  font-size: .6em;
  background-color: white;
  color: black;
  z-index: -1;
}
