body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../images/background.jpg");
  background-size: 100vw, cover;
  overflow-y: hidden;
  background-
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}

.title-box {
  float: left;
  height: 100%;
  width: 50%;
}


.title {
  position: relative;
  top: 25vh;
  font-size: 7em;
  text-align: right;
}

.menu-box {
  background-color: white;
  position: absolute;
  left: 50%;
  left: calc(50% + 3vw);
  width: 50%;
  top: 28.5vh;
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
}

.menu {
  position: relative;
  font-size: 1.65em;
  color: black;
}

.menu-element {
  display: block;
  vertical-align: middle;
  padding: .5em;
  float: left;
}

.menu-element:hover {
  color: white;
  background-image: url("../images/background.jpg");
  background-size: 100vw, cover;
  background-attachment: fixed;
}

#menu-current-text {
  background-image: url("../images/background.jpg");
  background-size: 100vw, cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu-current {
  display: block;
  vertical-align: middle;
  float: left;
  padding: .5em;
  font-weight: bold;
  background-size: 100vw;
}

#photo {
  display: block;
  margin-top: 1.75vh;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

.content {
    position: fixed;
    top: 150px;
}

.copyright {
  position: fixed;
  bottom: 0vh;
  left: 20vw;
  width: 60vw;
  text-align: center;
  font-size: .6em;
  color: white;
}
