body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../images/head-background.jpeg");
  background-size: 100%;
  background-position: top;
  overflow: hidden;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100%;
    background-position: bottom;
    color: white;
}

.title-box {
    float: left;
    height: 100%;
    width: 50%;
}
  

.title {
  position: relative;
  top: 25vh;
  right: 7vh;
  font-size: 8em;
  text-align: right;
}

.menu-box {
    position: absolute;
    left: 50%;
    width: 50%;
}

.menu {
  background-color: white;
  position: relative;
  top: 28.5vh;
  left: 7vh;
  height: 7.5vh;
  color: black;
  font-size: 1.65em;
}

.menu-element {
  padding: .5em;
  float: left;
}

#menu-current-box {
  /* for future development */
}

#menu-current {
  color:gray;
}

#menu-first {
  padding-left: 1em;
}

#photo {
  display: block;
  margin-top: 1.75vh;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}   

.content {
    position: fixed;
    top: 150px;
}

.copyright {
  position: fixed;
  bottom: 0vh;
  left: 20vw;
  width: 60vw;
  text-align: center;
  font-size: .6em;
  color: white;
}